<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.CityDao">

    <resultMap type="com.spring.domian.City" id="cityResultMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="province_id" property="provinceId" jdbcType="INTEGER" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="INTEGER" />

    </resultMap>
    <select id="findByName" parameterType="String"
            resultMap="cityResultMap">
        SELECT * FROM city where city_name = #{cityName}
    </select>
</mapper>